.home-container {
    .calc-group {
        display: flex;
        justify-content: flex-start;
        padding: 100px;
        .op-left,.op-right {
            width: 40px;
            height: 25px;
            outline: none;
            border: 0;
            border-radius: 4px;
            cursor: pointer;
        }
        .count {
            padding: 4px 10px;
            color: red;
            font-size: 14px;
        }

    }
}